 <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <%= javascript_include_tag "js/submit.js" %>
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2><%=t("contact.contact")%></h2>
                            <p><%=t("layouts._header.home")%> <span>-</span> <%=t("contact.contact")%></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- ================ contact section start ================= -->
  <section class="contact-section padding_top">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px;"></div>
        <script>
          function initMap() {
            var uluru = {
              lat: -25.363,
              lng: 131.044
            };
            var grayStyles = [{
                featureType: "all",
                stylers: [{
                    saturation: -90
                  },
                  {
                    lightness: 50
                  }
                ]
              },
              {
                elementType: 'labels.text.fill',
                stylers: [{
                  color: '#ccdee9'
                }]
              }
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {
                lat: -31.197,
                lng: 150.744
              },
              zoom: 9,
              styles: grayStyles,
              scrollwheel: false
            });
          }
        </script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnZDPkAAdX-D1VmK5tIK2S20JyrfUQSS0&callback=initMap">
        </script>

      </div>


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title"><%=t("contact.get_in_touch")%></h2>
        </div>
        <div class="col-lg-12">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
            novalidate="novalidate">
            <div class="row">
              <div class="col-12">
                <div class="form-group">

                  <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"
                    placeholder='<%=t("contact.enter_message")%>'></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" 
                    placeholder='<%=t("contact.enter_your_name")%>'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" placeholder='<%=t("contact.enter_email")%>'>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text"  placeholder='<%=t("contact.enter_subject")%>'>
                </div>
              </div>
            </div>
            <div class="form-group mt-3 col-lg-2 col-lg-offset-5" >
              <a href="#" class="btn_3 button-contactForm"><%=t("send_message")%></a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
</div>
<script>
  $(function(){
    //auto complete
    $('#q_name_cont').keyup(function(){
        var key = $('#q_name_cont').val();
        var result = [];
        $.ajax({
            method: "post",
            url: "/search_chair",
            data: {'key': key.toLowerCase()},
            success: function (res) {
                res.forEach(function(chair) {
                    result.push(chair.name);
                });            
            },
        });
        $( "#q_name_cont" ).autocomplete({
            source: result
        });
    });

    //add to cart
    $( ".commit" ).click(function() {
      var id = $(this).attr('id')
      $.ajax({
        method: "post",
        url: "/order_items",
        data: {'chair_id': id, 'quantity': 1},
        success: function (res) {
          alert('Add to cart success!');
        },
      });
    });
  })
</script>
