

<!-- banner part start-->
<section class="banner_part feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h3><%=t("static_pages.home.preamble")%></h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <% @categories.each do |category| %>
                <div class="col-lg-6 col-sm-6">
                    <div class="single_feature_post_text">
                        <p><%= category.description %></p>
                        <h3><%= category.name %></h3>
                        <a href="<%= chairs_path(category: category.id) %>" class="feature_btn" method="GET">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <%= image_tag category.img, width: '65%' %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- product_list start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2><%=t("static_pages.home.list_chair")%></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">
                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            <% @list_chair.each_with_index do |chair| %>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <div style="width: 262.5px"><%= image_tag chair.img %></div>
                                        <div class="single_product_text">
                                            <h4><%= link_to chair.name, chair_path(chair.id), {:style=>'opacity:1;color:black;visibility: visible'}%> </h4>
                                            <b class="text-danger">$<%= chair.price %></b>
                                            <% if chair.quantity >0 %>
                                                <a href="javascript:;"  class="add_cart commit" id ="<%=chair.id%>">+ <%=t("add_to_cart")%></a>
                                            <%else%>
                                                <h3 align="left" class="text-danger"><%=t("sold_out")%></h3>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div style = "text-align:center">
                <%= link_to t("static_pages.home.see_more"), chairs_path, class: "genric-btn info-border circle e-large", method: :get %>
            </div>
        </div>
    </div>
</section>
<!-- product_list part start-->

<!-- awesome_shop start-->
<!--<section class="our_offer section_padding">
  <div class="container">
    <div class="row align-items-center justify-content-between">
    <div class="col-lg-6 col-md-6">
        <div class="offer_img">
            <%= image_tag("img/chair1.png") %>
        </div>
        
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="offer_img">
            <%= image_tag("img/offer_img.png") %>
        </div>
    </div>
</section> -->
<!-- awesome_shop part start-->

<!-- product_list part start-->
<!--<section class="product_list best_seller section_padding">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="section_tittle text-center">-->
<!--                    <h2>Best Sellers <span>shop</span></h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row align-items-center justify-content-between">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="best_product_slider owl-carousel">-->
<!--                    <div class="single_product_item">-->
<!--                        <%= image_tag("img/product/product_1.png") %>-->
<!--                        <div class="single_product_text">-->
<!--                            <h4>Quartz Belt Watch</h4>-->
<!--                            <h3>$150.00</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single_product_item">-->
<!--                        <%= image_tag("img/product/product_2.png") %>-->
<!--                        <div class="single_product_text">-->
<!--                            <h4>Quartz Belt Watch</h4>-->
<!--                            <h3>$150.00</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single_product_item">-->
<!--                        <%= image_tag("img/product/product_3.png") %>-->
<!--                        <div class="single_product_text">-->
<!--                            <h4>Quartz Belt Watch</h4>-->
<!--                            <h3>$150.00</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single_product_item">-->
<!--                        <%= image_tag("img/product/product_4.png") %>-->
<!--                        <div class="single_product_text">-->
<!--                            <h4>Quartz Belt Watch</h4>-->
<!--                            <h3>$150.00</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single_product_item">-->
<!--                        <%= image_tag("img/product/product_5.png") %>-->
<!--                        <div class="single_product_text">-->
<!--                            <h4>Quartz Belt Watch</h4>-->
<!--                            <h3>$150.00</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- product_list part end-->

<section class="client_logo padding_bottom ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2><%=t("static_pages.home.our_brands")%></h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <% @brands.each do |brand| %>
                    <div class="single_client_logo">
                        <%= link_to (image_tag brand.img, width: 125), chairs_path(brand: brand.id), method: :get %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<!-- subscribe_area part start-->
<section class="subscribe_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="subscribe_area_text text-center">
                    <h5><%=t("static_pages.home.join_our_newsletter")%></h5>
                    <h2><%=t("static_pages.home.subscribe")%></h2>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder='<%=t("static_pages.home.enter_email")%>'
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a href="javascript:;" class="input-group-text btn_2" id="basic-addon2"><%=t("static_pages.home.subscribe_now")%></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->

<!-- subscribe_area part start-->
<!--::subscribe_area part end::-->
<script>
  $(function(){
    $( ".commit" ).click(function() {
      var id = $(this).attr('id')
      $.ajax({
        method: "post",
        url: "/order_items",
        data: {'chair_id': id, 'quantity': 1},
        success: function (res) {
          alert('Add to cart success!');
        },
      });
    });
  })
</script>
