<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Brand List
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Brand</li>
      <li class="active">List</li>
    </ol>
  </section>
  <br>
  <section class="container-fluid" style="background-color:white;margin: 0 10px 0px 10px;border-radius:5px; height:1000px">
    <div style="margin-top:20px">
      <div class="col-lg-8">
        <%= link_to "New", new_admin_brand_path, :class=>'btn btn-primary', :style=>'width:100px'%>
      </div>
      <div class="col-xs-4"> 
        <div class="input-group">
          <%= search_form_for @search, class: "input-group-btn search-panel",   url: admin_brands_path do |f|%>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "Seach by name", style: "float:left;width:300px" %>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          <%end%>
        </div>
      </div>
      
    </div>
    <div style="margin-top:70px;" >
      <div id="response-success" style="mt-5">
        
      </div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="3%">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Logo</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col" width="14%" ></th>
          </tr>
        </thead>
        <tbody>
            <%@brands.each do |brand| %>
              <tr>
                <td><%= brand.id %></td>
                <td><%= brand.name %></td>
                <td><%= image_tag brand.img, width: '100' %></td>
                <td><%= brand.category.name %></td>
                <td><%= brand.description %></td>
                <td><%= link_to "Edit", edit_admin_brand_path(brand.id), class: 'btn btn-warning', style: 'width:63px;margin-bottom:2px'%>
                    <button class = "btn btn-danger delete" id = "<%=brand.id%>" >Delete</button>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <div class="col-lg-4 col-lg-offset-4">
          <%= paginate @brands, theme: 'twitter-bootstrap-3' %>
      </div> 
    </div>
  </section>
</div>

<script>
  $(function(){
    $( ".delete" ).click(function() {
      var id = $(this).attr('id')
      var childTr = $(this).closest('tr')
      if(confirm("Are you sure?")){
        $.ajax({
          method: "delete",
          url: "/admin/brands/"+id,
          success: function (res) {
            childTr.hide();   //ẩn đi thẻ được gán
            $( "#response-success" ).append( "<div class='alert alert-danger col-lg-6 col-lg-offset-3'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Delete success!</strong></div>" );
            setTimeout(function(){ $('#response-success').hide(); }, 3000);
            childTr.hide();
          },
        });
      }

    });
  })
</script>
