<!-- breadcrumb start-->

<!--================Cart Area =================-->
<tr>
  <td>
    <div class="media">
      <div class="d-flex">
        <%= image_tag chair.img, width: '127' %>
      </div>
      <div class="media-text">
        <p><%= chair.name %></p>
        <%= link_to "Delete", order_item, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </td>
  <td>
    <h5>$<%= chair.price %></h5>
  </td>
  <td>
    <div class="product_count">
      <span class="input-number-decrement" id = "minus"> <i class="ti-angle-down"></i></span>
      <input value="<%=order_item.quantity%>" class="input-number" min="1" type="text" name="order_item[quantity]" id="order_item_quanity">
      <input type="hidden" value="<%=order_item.id%>" id = "order_item_id">
      <span class="input-number-increment" id = "plus"> <i class="ti-angle-up"></i></span>
    </div>
  </td>
  <td>
    <h5>$<%= order_item.total_price.round %></h5>
  </td>
</tr>
<script>
  $(function(){
    $( ".input-number-decrement" ).click(function() {
      var quantity = Number($('#order_item_quanity').val()) - 1;
      var order_item_id = $('#order_item_id').val();
      $.ajax({
        method: "put",
        url: "/order_items/"+order_item_id,
        data: {'quantity': quantity},
        success: function (res) {
        },
      });
    });
    $( ".input-number-increment" ).click(function() {
      var quantity = Number($('#order_item_quanity').val()) + 1;
      var order_item_id = $('#order_item_id').val();
      $.ajax({
        method: "put",
        url: "/order_items/"+order_item_id,
        data: {'quantity': quantity},
        success: function (res) {
        },
      });
    });
    $('#order_item_quanity').keypress(function(event) {
    if (event.keyCode == 13 || event.which == 13) {
        var quantity = Number($('#order_item_quanity').val());
        var order_item_id = $('#order_item_id').val();
        $.ajax({
          method: "put",
          url: "/order_items/"+order_item_id,
          data: {'quantity': quantity},
          success: function (res) {
          },
        });  
      }
    });
  })
</script>
